/* 웹폰트 - Spoqa Han Sans */
@import url(./fonts.css);

/* 숨김 콘텐츠 */
.a11y {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  visibility: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

/* 기본 글자크기 설정 */
html {
  font-size: 10px;
}

/* 본문 기본 스타일 */
body {
  font-family: "Spoqa Han Sans";
  font-weight: 400;
  background-color: #fff;
  color: #181818;
  margin: 0;
  font-size: 1.6rem;
}
